<%- include('header') %>

  <!-- Full Page Image Header with Vertically Centered Content -->
  <content class="masthead">
    <div class="container h-100">
      <div class="row h-100 ">
        <div class="col-12" style="margin-top: 75px;">
          <section class="container mt-5">
            <h2 id="business-integration-overview" class="text-center mb-4">404 - Not Found</h2>
            <p>
              Page not Found
            </p>
          </section>
        
                      

        </div>
      </div>
    </div>
  </content>
  <%- include('footer') %>

  </html>