<section aria-label="Subscribe example">
    <div class="container">
        <article>
            <hgroup>
                <h2>Stay Updated</h2>
                <h3>Subscribe to our newsletter</h3>
            </hgroup>
            <form class="grid">
                <input type="text" id="firstname" name="firstname" placeholder="Your Name" aria-label="Your Name" required />
                <input type="email" id="email" name="email" placeholder="Your Email" aria-label="Your Email" required />
                <button type="submit" onclick="event.preventDefault()">Subscribe</button>
            </form>
        </article>
    </div>
</section>
<footer class="container">
    <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Use</a></small>
</footer>
</body>
</html>